
@{
    ViewBag.Title = "ChooseRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose Your User Role</h2>
<div class="row">
    <div class="col-md-4">
        <h2>Experts</h2>
        <p>If you are an expert in your field and wish to become a resource for your local community click the button below! </p>
        <p><a class="btn btn-default" href="..\Account\ExpertRegister">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>General Users</h2>
        <p>If you are seeking expert advice on any inivative ideas or projects click the button below!</p>
        <p><a class="btn btn-default" href="..\Account\Register">Click Here &raquo;</a></p>
    </div>
</div>

