
@{
    ViewBag.Title = "Deactivated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You've been deactivated!</h2>

<img src="~/Images/deactivated.bmp" width="500" height="500"/>

<h3>Sorry about that</h3>

