@model IEnumerable<ExpertsProject.Models.UserViewModels.SearchViewModel>
@{
    Styles.Render("Content/bootstrap");
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

@{
    Html.RenderPartial("_SearchBar", new ExpertsProject.Models.UserViewModels.SearchStringViewModel());
    <h3>
        List of All Experts
    </h3>
    Html.RenderPartial("_listExperts");
}