@model ExpertsProject.Models.UserViewModels.SearchStringViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

@{
    Html.RenderPartial("_SearchBar");
}

