@model IEnumerable<ExpertsProject.Models.UserViewModels.SearchViewModel>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

@{ 
    Html.RenderPartial("_SearchBar", new ExpertsProject.Models.UserViewModels.SearchStringViewModel());
    Html.RenderPartial("_ListExperts");
}

@if (Model.LongCount() <= 0) {
    <h3>No results</h3>
}
